body {
  background-color: blanchedalmond;
  box-sizing: border-box;
}

#board {
  width: 600px;
  height: 600px;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
}

#board div {
  flex: 33%;
  border: 1px solid black;
}

.no {
  color: red;
}
